# general
matplotlib
nbconvert
nbformat
notebook
numpy
scipy

# wavelets
obspy
PyWavelets==1.8.0

# interpolation
requests
zeep

# evaluación pérdida calidad audio opus
# sudo apt-get install opus-tools ffmpeg
ffmpeg
opustools

# Corona Nuestra Señora Guadalupe
lightkurve 
oktopus 
autograd
skyfield

